/* Общие стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('img/bgproject.jpg') no-repeat center center fixed; /* фоновое изображение */
  background-size: cover;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.8); /* полупрозрачный фон */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  
}

h1 {
  text-align: center;
  color: #333;
}

/* Стили для навигационной панели */
nav {
  background-color: #333;
  padding: 15px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container a, nav button {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}

nav button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

nav button:hover {
  background-color: #0056b3;
}

nav .nav-container a:hover {
  text-decoration: underline;
}

/* Скрытие и отображение калькулятора */
.hidden {
  display: none;
}

/* Футер */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Стили для формы */
form input, form button {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  background: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background: #218838;
}

#error {
  color: red;
  text-align: center;
  margin-top: 20px;
}
